@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");




body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

h1,h2,h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 30px;
	position: center;
	letter-spacing: 15;
}

a{
	text-decoration: none;
}


p{
	font-size: 18px;
	line-height: 1.4;
}

ul{
	font-size: 18px;
	line-height: 1.6;

}

image {
	position: center;
	width: 160px;
}